@model CompassAirlines.Models.Flights

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<!-- I added an Image to easily know which page you are on -->
<img src="~/images/PlaneInterior.png" style="width:100%" />

<h4>Flights</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="FlightID" />
            <div class="form-group">
                <label asp-for="StaffID" class="control-label"></label>
                <select asp-for="StaffID" class="form-control" asp-items="ViewBag.StaffID"></select>
                <span asp-validation-for="StaffID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlaneID" class="control-label"></label>
                <select asp-for="PlaneID" class="form-control" asp-items="ViewBag.PlaneID"></select>
                <span asp-validation-for="PlaneID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Passengers" class="control-label"></label>
                <input asp-for="Passengers" class="form-control" />
                <span asp-validation-for="Passengers" class="text-danger"></span>
            </div>
            <div class="form-group">

                <!-- I Added Kgs to make it clear to understand -->
                <label asp-for="Weight" class="control-label"></label> (kgs)
                <input asp-for="Weight" class="form-control" />
                <span asp-validation-for="Weight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DepartDate" class="control-label"></label>
                <input asp-for="DepartDate" class="form-control" />
                <span asp-validation-for="DepartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DepartTime" class="control-label"></label>
                <input asp-for="DepartTime" class="form-control" />
                <span asp-validation-for="DepartTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArrivalDate" class="control-label"></label>
                <input asp-for="ArrivalDate" class="form-control" />
                <span asp-validation-for="ArrivalDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArrivalTime" class="control-label"></label>
                <input asp-for="ArrivalTime" class="form-control" />
                <span asp-validation-for="ArrivalTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FlightStatus" class="control-label"></label>

                <!-- I Made an Enum -->
                <select asp-for="FlightStatus" asp-items="Html.GetEnumSelectList<Status>()"></select>

                <span asp-validation-for="FlightStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
